/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 20px;
}

html,body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    font-size: 13px;
}

body{
    opacity: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

a,
a:visited {
    text-decoration: none;
}

textarea {
}

ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: inline-block;

}

ul li{
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    margin: 5px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input.hexin{
    padding:10px;
    padding-left: 50px;
    padding-right: 20px;
    width: 220px; 
    height: 20px;
    outline: none;
}

input.copyout{

}

button#copy{
    opacity: 1;
    position: absolute;
    color: white;
    width: 50px;
    height: 35px;
    margin-top: 150px;
    right: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

textarea{
    font-size: 12px;
    padding:20px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    width: 220px;
    height: 150px;
    font-family: Consolas,monospace;
}

li.selected{
    border-radius: 5px;
    color: white;
    transition-duration: 0.2s;
}

.selectColorPlate ul li{
    display: block;
    margin: 15px;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.headerContainer{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}


.logo{
   font-size: 25px;
   font-weight:100;
   margin: 35px;
   font-family: 'Pacifico', cursive;
   display: inline-block;
   visibility: hidden;
}

.info{
    text-align: center;
    float: right;
    margin-top: 35px;
    margin-right: 35px;
    font-size: 10px;
}

#leftSide{
    width: 50%;
    height: auto;
    float: left;

}

.rightSide{
    text-align: center;
    width: 50%;
    height: auto;
    float: left;
}

.defaultBorder{
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.defaultColor{
    color: #3B3B3B;
    transition-duration: 0.2s
}

.defaultBackground{
    background: #3B3B3B;
    color: white;
    transition-duration: 0.2s;
}

#hashTag{
    position: absolute;
    padding: 8px;
    padding-left: 13px;
    padding-right: 13px;
    left: 3px;
    top: 4px;
    border-radius: 5px;
}

.controlContainer{
    text-align: center;
    color: #3089CB;
    width: auto;
}

.selectBody{
    margin: 0 auto;
    width: 150px;
    height: auto;
    text-align: center;
    padding:10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 13px;
    color: #3B3B3B;
}

.collectionContainer{
    padding-top: 40px;
    width: 100%;
    height: auto;
}

.colorCircleContainer{
    margin: 0 auto;
    width: auto;
    height: auto;
    padding: 40px;
    visibility: hidden;
}

#colorCircle{
    margin: 25px;
    margin-left: 5%;
    margin-right: 5%;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.05);
    display: inline-block;
    /*background: #FF4949;*/
    cursor: pointer;
    transition-duration: 0.8s;
}

.closeicon{
    cursor: pointer;
}

.selectColorPlate{
    width: 210px;
    height: auto;
    text-align: center;
    background-color: white;
    margin: 0 auto;
    margin-top: 5px;
    overflow: hidden;
    display: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
